<?xml version="1.0"?>
<launch>
  <node pkg="vva_nav_test" type="vva_key_teleop.py" name="vva_key_teleop"  output="screen">
    <param name="hz" value="10" type="double"/>    <!-- Frequency at which the cmd_vel messages are sent -->
    <param name="forward_rate" value="0.3" type="double"/>   <!-- Speed to move forward in m/s -->
    <param name="backward_rate" value="0.2" type="double"/>   <!-- Speed to move backward in m/s -->
    <param name="rotation_rate" value="0.6" type="double"/>   <!-- Speed of in place rotation in rad/s -->
    
    <!-- Out -->
    <remap from="/key_vel" to="cmd_vel"/>
  </node>
</launch>

